/* Apply Google Font */
body {
    font-family: 'Noto Serif Oriya', serif;
    background-color: #282c34;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: #444; 
    position: absolute; 
    top: 20px; 
    left: 20px; 
    transition: ease-out 0.5s;
}
h1:hover{
    color: gold;
    transition: ease-in-out 0.5s;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.difficulty-levels {
    margin-bottom: 20px;
}

.level {
    margin: 0 15px;
    font-size: 1.2rem;
    color: #666;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #444;
}

#targetText {
    font-size: 2rem;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: #555;
}

#userInput {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.click-instruction {
    font-size: 1.2rem;
    color: #555;
    margin-top: 15px;
}

.correct {
    color: #00ff6a;
    text-shadow: 0 0 8px #00ff6a;
}

.incorrect {
    color: #ff3333;
    text-shadow: 0 0 8px #ff3333;
}

.current {
    color: #f1c40f;
    font-weight: bold;
    text-shadow: 0 0 8px #f1c40f;
}

.correct, .incorrect, .current {
    transition: color 0.2s ease, text-shadow 0.2s ease;
}
