body {
    font-family: 'Noto Serif Oriya', serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  #targetText {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  #userInput {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
  }
  
  .correct {
    color: green;
    text-shadow: 0 0 5px lime;
  }
  
  .incorrect {
    color: red;
  }
  