:root {
    --bg-color: #282c34;
    --text-color: #fefefe;
    --highlight-color: #f1c40f;
    --correct-color: #00ff6a;
    --incorrect-color: #ff3333;
}

body {
    font-family: 'Noto Serif Oriya', serif;
    background-color: var(--bg-color);
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: #444; 
    position: absolute; 
    top: 20px; 
    left: 20px; 
    transition: color 0.5s ease-out;
}
h1:hover {
    color: gold;
    transition: color 0.5s ease-in-out;
}

.container {
    text-align: center;
    background-color: var(--bg-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.difficulty-levels {
    margin-bottom: 20px;
}

.level {
    margin: 0 15px;
    font-size: 1.2rem;
    color: var(--text-color);
}
.level:hover {
    color: gold;
    transition: color 0.3s ease-in-out;
}

#targetText {
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: var(--text-color);
}

#userInput {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#congratulations{
    color: #00ff6a;
}

.click-instruction {
    font-size: 1.2rem;
    color: #a7a7a7;
    margin-top: 15px;
}

.correct {
    color: var(--correct-color);
    text-shadow: 0 0 8px var(--correct-color);
}

.incorrect {
    color: var(--incorrect-color);
    text-shadow: 0 0 8px var(--incorrect-color);
}

.current {
    color: var(--highlight-color);
    background-color: #444;
    font-weight: bold;
    text-shadow: 0 0 8px var(--highlight-color);
}

.correct, .incorrect, .current {
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

.hidden {
    display: none;
}
